.home {
    background-color: C0C0C0;
    /* border: 2px solid grey; */
    height: 100vh;
}

#signature {
    background-image: url('../signature.png');
    height: 150px;
    width: 650px;
    background-repeat: repeat-y;
    margin: 0 auto;
}

